<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.zipta.dailybriefing" >

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="org.dayup.gtask.permission.READ_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyIntentService"
            android:exported="false" >
            <intent-filter>
                <action android:name="ru.zipta.dailybriefing.action.NOTIFY"/>
            </intent-filter>
        </service>

    </application>

</manifest>
